
# Enable the RewriteEngine
RewriteEngine on

RewriteBase /ptdev/
# Check if this is the noredirect query string
#RewriteCond %{QUERY_STRING} (^|&)m=0(&|$)
# Set a cookie, and skip the next rule
#RewriteRule ^ - [CO=mredir:0:www.website.com]

# Remove the trailing slash from routes
DirectorySlash Off


# Map resources to release distribution
RewriteRule ^app/(.*)$ dist/release/$1 [NC,L]
RewriteRule ^assets/js/libs/(.*)$ dist/release/$1 [NC,L]
RewriteRule ^assets/css/(.*)$ dist/release/$1 [NC,L]
RewriteRule ^zeegaapi/(.*)$ http://50.57.99.175/api/$1 [P]

# These conditions ensure that the file does not exist and that the current
# request URI is not the index.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !index

# Redirect remaining requests to the index.html file
#Redirect /index.html /comingsoon.html
RewriteRule (.*) index.html [NC,L]

