<!doctype html>
<html lang="en">
<head>
	<link rel="icon" type="image/png" href="assets/img/takeout_favicon.png">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<title>Planet Takeout</title>


	<!-- begin Google Analytics Tracking code -->
	<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	  	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
		var WGBHpageTracker = _gat._getTracker("UA-339013-1");
		WGBHpageTracker._setDomainName("none");
		WGBHpageTracker._setAllowLinker(true);
		WGBHpageTracker._initData();
		WGBHpageTracker._trackPageview();
		var IMApageTracker = _gat._getTracker("UA-1741309-53");
		IMApageTracker._setDomainName("none");
		IMApageTracker._setAllowLinker(true);
		IMApageTracker._initData();
		IMApageTracker._trackPageview();
	</script>
	<!-- end Google Analytics Tracking code -->
	
	<script>
		localStorage.api = 'http://my.server.org/api';
                if (!window.console) console = {log: function() {}};
	</script>

	<!-- Application root. -->
	<base href="/">
	
	<!--<base href="http://localhost/zeega-boilerplate/"> -->

	<!-- Application styles. -->
	<link rel="stylesheet" href="assets/css/index.css">
	<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCaSwWAp5JThJ1R6cW1OzLKpmxl1uI1iCE&amp;sensor=false"></script>
</head>

<body>

	<div id="fb-root"></div>
	<script>(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

	<!-- Main container. -->
	<div role="main" id="main"></div>

	<!-- Application source. -->
	<script data-main="app/config" src="assets/js/libs/require.js"></script>
	<script type="text/javascript">
		var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-339013-16']); _gaq.push(['_trackPageview']); (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();
	</script>
</body>
</html>
