html{ background:black;}

h1,h2,h3,h4,h5,h6{ font-family: 'PT-black', sans-serif;}

ul.horizontal-list li{ float:left; }

/* loading spinner */
#loading {
	background: rgba(0,0,0,0.75);
	position: absolute;
	z-index: 150000;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

#loading #spinner {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}