
.item-title h1
{
  font-size: 5.9em;
  line-height: 1em;
  word-wrap: break-word;
}

#grid-view-wrapper
{
  background: rgba(194, 217, 214, 1);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(154, 235, 231, 1)), to(rgba(255, 216, 171, 1)));
  background-image: -webkit-linear-gradient(top, rgba(255, 216, 171, 1), rgba(154, 235, 231, 1) ); 
  background-image:    -moz-linear-gradient(top, rgba(255, 216, 171, 1), rgba(154, 235, 231, 1) );
  background-image:     -ms-linear-gradient(top, rgba(255, 216, 171, 1), rgba(154, 235, 231, 1) );
  background-image:      -o-linear-gradient(top, rgba(255, 216, 171, 1), rgba(154, 235, 231, 1) );

  height:100%;
  left:0;
  overflow: auto;
  position: absolute;
  top:0;
  width:100%;
}


#grid-view-slider
{
  width: 100%;
  width: 1000px;
  margin: 0 auto;
  padding: 0 12px;
}



.grid-view-title
{
  color:white;
  margin-top: 100px;
  padding-left: 211px;
}

.grid-view-title h2
{
  font-size: 19px;
  line-height:1em;
}

.grid-view-title h1
{
  font-size:4em;
  line-height:1em;
}

#grid-view-slider ul
{
  margin: 0;
  list-style: none;
}

#grid-view-slider>ul>li
{
  float: left;
  width: 142px;
  height: 100px;
  background: rgba(0,0,0,0.5);
  margin: 12px;
  background-size:100% 100%;
}

#grid-view-slider>ul>li a
{
  text-decoration: none;
  position:relative;
}

#grid-view-slider>ul>li .featured-icon
{
  position: absolute;
  top:-8px;
  left:-15px;
}

.item-title
{
  display:none;
  overflow:none;
  color:white;
}


#grid-view-slider>ul>li:hover .item-title
{
  display:block;
  overflow:hidden;
  position:relative;
  top:-24px;
  left:-24px;
  height:148px;
  width:190px;
  background: rgba(0,0,0,0.5);
}
