.PT-modal-wide .PT-menu
{
  height: 600px;
	overflow-y: auto;
	width: 100%;
}

.PT-menu-column
{
  font-family: 'PT-black', sans-serif;
  font-size:10px;
  width: 33.3333%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  border-left: 1px solid #999;
  padding:15px;
  position: relative;
  min-height:950px;
  background: rgba(194, 217, 214, 1);
  background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, from(rgba(154, 235, 231, 1)), to(rgba(255, 216, 171, 1)));
  background-image: -webkit-linear-gradient(left, rgba(154, 235, 231, 1), rgba(255, 216, 171, 1)); 
  background-image:    -moz-linear-gradient(left, rgba(154, 235, 231, 1), rgba(255, 216, 171, 1));
  background-image:     -ms-linear-gradient(left, rgba(154, 235, 231, 1), rgba(255, 216, 171, 1));
  background-image:      -o-linear-gradient(left, rgba(154, 235, 231, 1), rgba(255, 216, 171, 1));
}
.PT-menu-column:first-child
{
 border-left: none;
}

.PT-modal-wide .PT-modal-title
{
  padding-left: 174px;
}
.PT-modal-wide .PT-modal-content-wrapper
{
  padding: 0;
}

.PT-menu h2 {
  margin: 11px 0 16px;
}

#house-special li {
  
  width:270px !important;
}

.PT-menu h3 {
  font-size: 13px;
  line-height: 1em;
  margin-top: 16px;
}

.PT-menu .story-key {
  position: absolute;
  right: 10px;
  top: 10px;
  text-align: right;
  padding-left: 27px;
  background: url(../img/featured.png) no-repeat 0 6px;
  background-size: 25px 12px;
  color: #de3620;
  font-size: 12px;
  font-family: 'PT-black';
  line-height: 26px;
}

.PT-menu .menu-items {
  overflow: hidden;
  padding-bottom: 2px;
  margin-bottom: 24px;
}

.PT-menu .menu-items.specials {
  border: 5px double #000;
  border-radius: 15px;
  padding: 14px;
}

.PT-menu .menu-items li {
  border-bottom: 2px dotted black;
  font-family: 'PT-black';
  font-size: 12px;
  height: 19px;
  width: 297px; /* required due to browser error with fractional widths */
}

.PT-menu .menu-items a {
  background: rgba(194, 217, 214, 1);
  background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, from(rgba(154, 235, 231, 1)), to(rgba(255, 216, 171, 1)));
  background-image: -webkit-linear-gradient(left, rgba(154, 235, 231, 1), rgba(255, 216, 171, 1)); 
  background-image:    -moz-linear-gradient(left, rgba(154, 235, 231, 1), rgba(255, 216, 171, 1));
  background-image:     -ms-linear-gradient(left, rgba(154, 235, 231, 1), rgba(255, 216, 171, 1));
  background-image:      -o-linear-gradient(left, rgba(154, 235, 231, 1), rgba(255, 216, 171, 1));
  background-size: 312px 20px;
  background-position: -10px 0; 
  color: #de3620;
  float: left;
  padding-right: 15px;
  position: relative;
  top: 3px;
  height: 20px;
  vertical-align: bottom;
  line-height: 28px;
}

.PT-menu .menu-items a.radio-story {
  padding-left: 30px;
  background-image: url(../img/featured.png), -webkit-gradient(linear, 0% 0%, 100% 0%, from(rgba(154, 235, 231, 1)), to(rgba(255, 216, 171, 1)));
  background-image: url(../img/featured.png), -webkit-linear-gradient(left, rgba(154, 235, 231, 1), rgba(255, 216, 171, 1)); 
  background-image: url(../img/featured.png),    -moz-linear-gradient(left, rgba(154, 235, 231, 1), rgba(255, 216, 171, 1));
  background-image: url(../img/featured.png),     -ms-linear-gradient(left, rgba(154, 235, 231, 1), rgba(255, 216, 171, 1));
  background-image: url(../img/featured.png),      -o-linear-gradient(left, rgba(154, 235, 231, 1), rgba(255, 216, 171, 1));
  background-size: 25px 12px, 312px 20px;
  background-repeat: no-repeat, no-repeat;
  background-position: 0 6px, -10px 0;
}

.PT-menu .menu-items span {
  float: right;
  height: 22px;
  background: rgba(194, 217, 214, 1);
  background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, from(rgba(154, 235, 231, 1)), to(rgba(255, 216, 171, 1)));
  background-image: -webkit-linear-gradient(left, rgba(154, 235, 231, 1), rgba(255, 216, 171, 1)); 
  background-image:    -moz-linear-gradient(left, rgba(154, 235, 231, 1), rgba(255, 216, 171, 1));
  background-image:     -ms-linear-gradient(left, rgba(154, 235, 231, 1), rgba(255, 216, 171, 1));
  background-image:      -o-linear-gradient(left, rgba(154, 235, 231, 1), rgba(255, 216, 171, 1));
  background-size: 312px 20px;
  background-position: 90% 0; 
  color: #000;
  padding-left:4px;
  position: relative;
  top: 2px;
  height: 20px;
  vertical-align: bottom;
  line-height: 28px;
}


.PT-menu .featured-splash {
  position:absolute;
  z-index:100;
  background-image: url(../img/featured_specials.png);
  background-position: -25px -25px;
  width: 85px;
  height: 45px;
  top: 82px;
  left: 0px;
}


.PT-menu .house-specials-splash {
  position:absolute;
  z-index:100;
  background-image: url(../img/featured_specials.png);
  background-position: -25px -102px;
  width: 91px;
  height: 55px;
  top: 66px;
  left: 4px
}


.PT-menu img.flourish {
  display: block;
  margin: 0 auto;
}