@font-face {
    font-family: 'PT_italic';
    src: url('fonts/equo_black_ps_italic-webfont.eot');
    src: url('fonts/equo_black_ps_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/equo_black_ps_italic-webfont.woff') format('woff'),
         url('fonts/equo_black_ps_italic-webfont.ttf') format('truetype'),
         url('fonts/equo_black_ps_italic-webfont.svg#equo_psblack_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'PT-black';
    src: url('fonts/equo_black_ps-webfont.eot');
    src: url('fonts/equo_black_ps-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/equo_black_ps-webfont.woff') format('woff'),
         url('fonts/equo_black_ps-webfont.ttf') format('truetype'),
         url('fonts/equo_black_ps-webfont.svg#equo_psblack') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*    sprites       */

i.PT-icon-pause
{
  background: url(../img/sprite_play-pause-30.png);
  background-position: 34px 0;
  width:30px;
  height:30px;
  overflow:hidden;
  display:inline-block;
}
i.PT-icon-pause:hover{ background-position: 34px 34px}
i.PT-icon-play
{
  background: url(../img/sprite_play-pause-30.png);
  background-position: 0 0;
  width:30px;
  height:30px;
  overflow:hidden;
  display:inline-block;
}
i.PT-icon-play:hover{ background-position: 0 34px}

html{ background:black;}

h1,h2,h3,h4,h5,h6{ font-family: 'PT-black', sans-serif;}

ul.horizontal-list li{ float:left; }



#nav-upper
{
  z-index: 1000000;
  position: absolute;
  height: 100px;
  width: 100%;
  background: url(../img/top-fade.png);
  background-size: 100% 100%;
  min-width: 1000px;
  padding:20px 0;
}

#nav-upper ul
{
  list-style: none;
  margin: 0 auto;
width: 1000px;
}

#nav-upper a
{
  opacity:0.85;
}

#nav-upper a:hover
{
  opacity:1;
}

#nav-upper li
{
  float: left;
  margin-left: 155px;
}
#nav-upper li:first-child
{
  margin-left:0;
}

#nav-upper .pt-logo
{
  width:60px;
}

#nav-upper .nav-icon
{
  width:30px;
}



/* modal styles */

button.close{
  float: none;
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px; float:
}

.PT-modal-content-head
{
  position: relative;
  z-index: 10;
}

.PT-modal-overlay
{
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  height: 100%;
  width: 100%;
  min-width: 1000px;
  box-shadow: inset 0 0 54px;
}

.PT-modal
{
  width: 750px;
  margin: 80px auto;
}

.PT-modal-wide
{
  width: 1000px;
}

.PT-modal ul
{
  margin:0;
  list-style: none;
}

.PT-modal-title
{
  color: white;
  padding-bottom: 30px;
  padding-left: 40px;
}



.PT-modal-title h1{ font-size: 4em; }

.PT-modal-content-wrapper
{
  position: relative;
  background: rgba(194, 217, 214, 1);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(154, 235, 231, 1)), to(rgba(255, 216, 171, 1)));
  background-image: -webkit-linear-gradient(top, rgba(154, 235, 231, 1), rgba(255, 216, 171, 1)); 
  background-image:    -moz-linear-gradient(top, rgba(154, 235, 231, 1), rgba(255, 216, 171, 1));
  background-image:     -ms-linear-gradient(top, rgba(154, 235, 231, 1), rgba(255, 216, 171, 1));
  background-image:      -o-linear-gradient(top, rgba(154, 235, 231, 1), rgba(255, 216, 171, 1));

  box-shadow: 0 0 9px;
  /*padding:20px;*/
  text-align: justify;
}

.PT-modal-content
{
  position:relative;
  /* min-height: 500px; */
  padding: 20px;
  overflow: hidden;
}

.PT-modal-wide .PT-modal-content
{
  padding: 0;
  overflow: hidden;
}

.PT-modal-content .participate-tab input[type=text] {
  border: none;
  border-radius: 12px;
  display: inline-block;
  font-size: 14px;
  padding: 7px 15px;
  margin: 5px 30px 20px 0;
  width: 480px;
  vertical-align: middle;
}

.PT-modal-content .btn {
  background: #de3620;
  border: none;
  border-radius: 11px;
  color: #fff;
  height: 30px;
  vertical-align: middle;
  margin: 5px 15px 20px 0;
}

.PT-modal-content .left-column
{
  width:20%;
  float:left;
}

.PT-modal-content .right-column
{
  width:75%;
  float:right;
}

.PT-modal-content .sponsor-drawer
{
  background: white;
  height: 260px;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}

.PT-modal .sponsor-drawer{}

.PT-modal .sponsor-drawer ul
{
  margin:0;
  list-style: none;
  padding:20px;
}


.PT-modal .sponsor-drawer li
{
  float: left;
  text-align: center;
  height: 125px;
  width: 143px;
}
.PT-modal .sponsor-drawer img
{
  width:110px;
}

/* PARTICIPATE */

.PT-modal-content ul.participate-tabs-head
{
  margin-bottom:20px;
  position: relative;
  top: -10px;
}

.PT-modal-content ul.participate-tabs-head li
{
  color:rgba(211,32,26,0.6);
  cursor: pointer;
  display: inline;
  font-family: 'PT-black', sans-serif;
  font-size: 13px;
  margin-right: 20px;
}

.PT-modal-content ul.participate-tabs-head li.active {
  color:rgba(211,32,26,1);
  cursor: default;
}

.PT-modal-content .participate-tab h2 {
  text-align: left;
  line-height: 1.2em;
  margin-bottom: 15px;
}

.PT-modal-content .participate-tab a {
  color:rgba(211,32,26,1);
}

.PT-modal-content .participate-tab p {
  font-size: 14px;
  margin: 15px 0;
}

.PT-modal-content .participate-tab p.small {
  color: #999;
  font-size: 11px;
  width: 60%;
}

.PT-modal-content .participate-tab ol {
  list-style-position: inside;
  margin: 0 0 15px;
}

.PT-modal-content .participate-tab ol li {
  font-size: 14px;
  margin: 5px 0;
}

.PT-modal-content .participate-tab .social-icon.section-icon {
  position: relative;
  top: 40px;
  margin-top: -30px;
}

.PT-modal-content .participate-tab .info-tab-icons {
  overflow:hidden;
}

.PT-modal-content .participate-tab .info-tab-icons li {
  cursor: pointer;
  float: left;
  margin: 0 8px 0 8px;
}

.PT-modal-content .participate-tab .info-tab.media .carat {
  height: 0px;
  width: 0px;
  display:block;
  border-width: 0px 12px 11px 12px;
  border-color: transparent transparent #fff transparent;
  border-style: none solid solid solid;
  position: relative;
}
.PT-modal-content .participate-tab .info-tab.flickr .carat {
  left:11px;
}

.PT-modal-content .participate-tab .info-tab.youtube .carat {
  left:57px;
}

.PT-modal-content .participate-tab .info-tab.tumblr .carat {
  left:103px;
}

.PT-modal-content .participate-tab .info-tab.soundcloud .carat {
  left:149px;
}

.PT-modal-content .participate-tab .info-tab.media .content {
  background: #fff;
  border-radius: 14px;
  padding: 30px 10px;
}

.PT-modal-content .participate-tab .info-tab.media p {
  color: #666;
  font-size: 11px;
  text-align: left;
}

.PT-modal-content .participate-tab .info-tab.default p {
  color: #666;
  font-size: 15px;
  text-align: left;
  margin: 11px;
}

.PT-modal-content #addPhotos ol {
  margin-left: 50px;
}

.PT-modal-content #addPhotos .left-column {
  float: left;
  width: 73%;
}

.PT-modal-content #addPhotos .right-column {
  float: right;
  width: 26%;
}

.PT-modal-content #addTakeout ol.explanation {
  margin-bottom: 0;
  overflow: hidden;
}

.PT-modal-content #addTakeout ol.explanation li {
  float: left;
  font-size: 15px;
  list-style-position: outside;
  margin-left: 20px;
  text-align: left;
}

.PT-modal-content #addTakeout ol.explanation li.step-1 {
  width: 280px;
}

.PT-modal-content #addTakeout ol.explanation li.step-2 {
  margin-left: 32px;
  width: 330px;
}

.PT-modal-content #addTakeout #gViews {
  margin-bottom: 12px;
  overflow: hidden;
}

.PT-modal-content #addTakeout #map {
  background: red;
  float: left;
  height: 300px;
  width: 300px;
}

.PT-modal-content #addTakeout #streetView {
  background: #aaa;
  float: left;
  height: 300px;
  width: 350px;
  margin-left: 12px;
}

/*  MENU    */
.PT-modal-wide .PT-menu
{
  height:700px;
  width:100%;
}

.PT-menu-column
{
  width: 33.3333%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  height: 100%;
  border-left: 1px solid #999;
  padding:15px;

  background: rgba(194, 217, 214, 1);
  background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, from(rgba(154, 235, 231, 1)), to(rgba(255, 216, 171, 1)));
  background-image: -webkit-linear-gradient(left, rgba(154, 235, 231, 1), rgba(255, 216, 171, 1)); 
  background-image:    -moz-linear-gradient(left, rgba(154, 235, 231, 1), rgba(255, 216, 171, 1));
  background-image:     -ms-linear-gradient(left, rgba(154, 235, 231, 1), rgba(255, 216, 171, 1));
  background-image:      -o-linear-gradient(left, rgba(154, 235, 231, 1), rgba(255, 216, 171, 1));
}
.PT-menu-column:first-child
{
 border-left: none;
}

.PT-modal-wide .PT-modal-title
{
  padding-left: 212px;
}
.PT-modal-wide .PT-modal-content-wrapper
{
  padding: 0;
}

.PT-menu h2 {
  margin: 11px 0 16px;
}

.PT-menu h3 {
  font-size: 13px;
  line-height: 1em;
  margin-top: 16px;
}

.PT-menu .menu-items {
  overflow: hidden;
  padding-bottom: 2px;
  margin-bottom: 24px;
}

.PT-menu .menu-items.specials {
  border: 5px double #000;
  border-radius: 15px;
  padding: 14px;
}

.PT-menu .menu-items li {
  border-bottom: 2px dotted black;
  font-family: 'PT-black';
  font-size: 13px;
  height: 19px;
}

.PT-menu .menu-items a {
  background: rgba(194, 217, 214, 1);
  background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, from(rgba(154, 235, 231, 1)), to(rgba(255, 216, 171, 1)));
  background-image: -webkit-linear-gradient(left, rgba(154, 235, 231, 1), rgba(255, 216, 171, 1)); 
  background-image:    -moz-linear-gradient(left, rgba(154, 235, 231, 1), rgba(255, 216, 171, 1));
  background-image:     -ms-linear-gradient(left, rgba(154, 235, 231, 1), rgba(255, 216, 171, 1));
  background-image:      -o-linear-gradient(left, rgba(154, 235, 231, 1), rgba(255, 216, 171, 1));
  background-size: 312px 20px;
  background-position: -10px 0; 
  color: #de3620;
  float: left;
  padding-right: 20px;
  position: relative;
  top: 3px;
  height: 20px;
  vertical-align: bottom;
  line-height: 28px;
}

.PT-menu .menu-items span {
  float: right;
  height: 22px;
  background: rgba(194, 217, 214, 1);
  background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, from(rgba(154, 235, 231, 1)), to(rgba(255, 216, 171, 1)));
  background-image: -webkit-linear-gradient(left, rgba(154, 235, 231, 1), rgba(255, 216, 171, 1)); 
  background-image:    -moz-linear-gradient(left, rgba(154, 235, 231, 1), rgba(255, 216, 171, 1));
  background-image:     -ms-linear-gradient(left, rgba(154, 235, 231, 1), rgba(255, 216, 171, 1));
  background-image:      -o-linear-gradient(left, rgba(154, 235, 231, 1), rgba(255, 216, 171, 1));
  background-size: 312px 20px;
  background-position: 90% 0; 
  color: #000;
  padding-left:4px;
  position: relative;
  top: 2px;
  height: 20px;
  vertical-align: bottom;
  line-height: 28px;
}

.PT-menu img.flourish {
  display: block;
  margin: 0 auto;
}

/*    GRID VIEW   */

#grid-view-wrapper
{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(194, 217, 214, 1);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(154, 235, 231, 1)), to(rgba(255, 216, 171, 1)));
  background-image: -webkit-linear-gradient(top, rgba(255, 216, 171, 1), rgba(154, 235, 231, 1) ); 
  background-image:    -moz-linear-gradient(top, rgba(255, 216, 171, 1), rgba(154, 235, 231, 1) );
  background-image:     -ms-linear-gradient(top, rgba(255, 216, 171, 1), rgba(154, 235, 231, 1) );
  background-image:      -o-linear-gradient(top, rgba(255, 216, 171, 1), rgba(154, 235, 231, 1) );
}


#grid-view-slider
{
  width: 100%;
  height: 100%;
  overflow: auto;
  width: 1000px;
  margin: 0 auto;
  padding: 0 12px;
}



.grid-view-title
{
  color:white;
  margin-top: 100px;
  padding-left: 211px;
}

.grid-view-title h2
{
  font-size: 19px;
  line-height:1em;
}

.grid-view-title h1
{
  font-size:4em;
  line-height:1em;
}

#grid-view-slider ul
{
  margin: 0;
  list-style: none;
}

#grid-view-slider>ul>li
{
  float: left;
  width: 142px;
  height: 100px;
  background: white;
  margin: 12px;
  background-size:100% 100%;
  background-color:white;
}

#grid-view-slider>ul>li a
{
  text-decoration: none
}

.item-title
{
  display:none;
  overflow:none;
  color:white;
}


#grid-view-slider>ul>li:hover .item-title
{
  display:block;
  overflow:hidden;
  position:relative;
  top:-24px;
  left:-24px;
  height:148px;
  width:190px;
  background-color:white;
}



.item-title h1
{
  font-size: 5.9em;
  line-height: 1em;
}


/*  citations */

#citation-drawer
{
  position: absolute;
  bottom: 0;
  z-index: 100000;
  background: rgba(0, 0, 0, 0.75);
  width:100%;
  color: white;
}
.citation-view
{
  padding:10px 40px;
}

.citation-attribution,
.citation-geo
{
  position: relative;
  bottom: -1em;
  margin-left: 10px;
}

/*  map */

.leaflet-map,
#PT-map,
#PT-map-wrapper
{
  height : 500px;
  width:100%;
}


.leaflet-popup-content-wrapper
{
  height: 110px;
  width: 180px;
  border: 8px solid whiteSmoke;
  box-sizing: border-box;
}

.leaflet-popup-tip
{

}

.map-popup .heart,
.map-popup .ent
{ opacity: 0.75 ;}

.map-popup .heart:hover,
.map-popup .ent:hover
{ opacity: 1 ;}

.map-popup .heart
{
  position: absolute;
  top: 10px;
  left: 10px;
}
.map-popup .enter
{
  text-align: center;
  position: absolute;
  bottom: 25px;
  left: 70px;
}

.play-pause
{
  margin-right:10px;
}

/* social media icons sprite */
.social-icon {
  background: url(../img/sprite_social-red.png);
  display: block;
  height: 30px;
  width: 30px;
}

.social-icon.facebook {
  background-position: 0 0;
}

.social-icon.twitter {
  background-position: -30px 0;
}

.social-icon.instagram {
  background-position: -60px 0;
}

.social-icon.flickr {
  background-position: -90px 0;
}

.social-icon.vimeo {
  background-position: -120px 0;
}

.social-icon.youtube {
  background-position: -150px 0;
}

.social-icon.tumblr {
  background-position: -180px 0;
}

.social-icon.soundcloud {
  background-position: -210px;
}

.social-icon.email {
  background-position: -240px;
}

.social-icon.camera {
  background-position: -270px;
}