#upper-nav
{
  position: absolute;
  height: 100px;
  width: 100%;
  background: url(../img/top-fade.png);
  background-size: 100% 100%;
  min-width: 1000px;
  padding:20px;
}

#upper-nav ul
{
  list-style: none;
  margin: 0;
}

#upper-nav a
{
  opacity:0.85;
}

#upper-nav a:hover
{
  opacity:1;
}

#upper-nav li
{
  float:left;
  margin-left:12%;
}
#upper-nav li:first-child
{
  margin-left:0;
}

#upper-nav .pt-logo
{
  width:60px;
}

#upper-nav .nav-icon
{
  width:30px;
}