@font-face {
    font-family: 'PT_italic';
    src: url('fonts/equo_black_ps_italic-webfont.eot');
    src: url('fonts/equo_black_ps_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/equo_black_ps_italic-webfont.woff') format('woff'),
         url('fonts/equo_black_ps_italic-webfont.ttf') format('truetype'),
         url('fonts/equo_black_ps_italic-webfont.svg#equo_psblack_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'PT-black';
    src: url('fonts/equo_black_ps-webfont.eot');
    src: url('fonts/equo_black_ps-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/equo_black_ps-webfont.woff') format('woff'),
         url('fonts/equo_black_ps-webfont.ttf') format('truetype'),
         url('fonts/equo_black_ps-webfont.svg#equo_psblack') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*    sprites       */

i.PT-icon-pause
{
  background: url(../img/sprite_play-pause-30.png);
  background-position: 34px 0;
  width:30px;
  height:30px;
  overflow:hidden;
  display:inline-block;
}
i.PT-icon-pause:hover{ background-position: 34px 34px}
i.PT-icon-play
{
  background: url(../img/sprite_play-pause-30.png);
  background-position: 0 0;
  width:30px;
  height:30px;
  overflow:hidden;
  display:inline-block;
}
i.PT-icon-play:hover{ background-position: 0 34px}

html{ background:black;}

h1,h2,h3,h4,h5,h6{ font-family: 'PT-black', sans-serif;}

ul.horizontal-list li{ float:left; }



#nav-upper
{
  z-index: 1000000;
  position: absolute;
  height: 100px;
  width: 100%;
  background: url(../img/top-fade.png);
  background-size: 100% 100%;
  min-width: 1000px;
  padding:20px 0;
}

#nav-upper ul
{
  list-style: none;
  margin: 0 auto;
width: 1000px;
}

#nav-upper a
{
  opacity:0.85;
}

#nav-upper a:hover
{
  opacity:1;
}

#nav-upper li
{
  float: left;
  margin-left: 155px;
}
#nav-upper li:first-child
{
  margin-left:0;
}

#nav-upper .pt-logo
{
  width:60px;
}

#nav-upper .nav-icon
{
  width:30px;
}



/* modal styles */

button.close{
  float: none;
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px; float:
}

.PT-modal-content-head
{
  position: relative;
  z-index: 10;
}

.PT-modal-overlay
{
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  height: 100%;
  width: 100%;
  min-width: 1000px;
  box-shadow: inset 0 0 54px;
}

.PT-modal
{
  width: 750px;
  margin: 80px auto;
}

.PT-modal-wide
{
  width: 1000px;
}

.PT-modal ul
{
  margin:0;
  list-style: none;
}

.PT-modal-title
{
  color: white;
  padding-bottom: 30px;
  padding-left: 40px;
}



.PT-modal-title h1{ font-size: 4em; }

.PT-modal-content-wrapper
{
  position: relative;
  background: rgba(194, 217, 214, 1);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(154, 235, 231, 1)), to(rgba(255, 216, 171, 1)));
  background-image: -webkit-linear-gradient(top, rgba(154, 235, 231, 1), rgba(255, 216, 171, 1)); 
  background-image:    -moz-linear-gradient(top, rgba(154, 235, 231, 1), rgba(255, 216, 171, 1));
  background-image:     -ms-linear-gradient(top, rgba(154, 235, 231, 1), rgba(255, 216, 171, 1));
  background-image:      -o-linear-gradient(top, rgba(154, 235, 231, 1), rgba(255, 216, 171, 1));

  box-shadow: 0 0 9px;
  /*padding:20px;*/
  text-align: justify;
}

.PT-modal-content
{
  position:relative;
  /* min-height: 500px; */
  padding: 20px;
  overflow: hidden;
}

.PT-modal-wide .PT-modal-content
{
  padding: 0;
  overflow: hidden;
}


.PT-modal-content ul.steps
{
  margin-bottom:20px;
  position: relative;
  top: -10px;
}

.PT-modal-content ul.steps li
{
  color:rgba(211,32,26,0.6);
  display: inline;
  font-family: 'PT-black', sans-serif;
  font-size: 13px;
  margin-right: 20px;
}

.PT-modal-content ul.steps li.active {
  color:rgba(211,32,26,1);
}

.PT-modal-content #stepOne input[type=text] {
  border: none;
  border-radius: 12px;
  display: inline-block;
  font-size: 14px;
  padding: 7px 15px;
  margin: 0 30px 20px 0;
  width: 480px;
}

.PT-modal-content #stepTwo #streetView {
  float: left;
}

.PT-modal-content #stepTwo .btn {
  clear: both;
  display: block;
  margin-top: 20px;
}

.PT-modal-content #stepTwo p {
  float: right;
  margin-right: 40px;
  width: 130px;
}

.PT-modal-content .btn {
  background: #de3620;
  border: none;
  border-radius: 11px;
  color: #fff;
  height: 30px;
  vertical-align: top;
}

.PT-modal-content .left-column
{
  width:20%;
  float:left;
}

.PT-modal-content .right-column
{
  width:75%;
  float:right;
}

.PT-modal-content .sponsor-drawer
{
  background: white;
  height: 260px;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}

.PT-modal .sponsor-drawer{}

.PT-modal .sponsor-drawer ul
{
  margin:0;
  list-style: none;
  padding:20px;
}


.PT-modal .sponsor-drawer li
{
  float: left;
  text-align: center;
  height: 125px;
  width: 143px;
}
.PT-modal .sponsor-drawer img
{
  width:110px;
}



/*  MENU    */

.PT-menu-column
{
  width: -webkit-calc( 33.33% - 21px );
  float: left;
  height: 100%;
  border-left: 1px solid #999;
  position: relative;
  padding:10px;

  background: rgba(194, 217, 214, 1);
  background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, from(rgba(154, 235, 231, 1)), to(rgba(255, 216, 171, 1)));
  background-image: -webkit-linear-gradient(left, rgba(154, 235, 231, 1), rgba(255, 216, 171, 1)); 
  background-image:    -moz-linear-gradient(left, rgba(154, 235, 231, 1), rgba(255, 216, 171, 1));
  background-image:     -ms-linear-gradient(left, rgba(154, 235, 231, 1), rgba(255, 216, 171, 1));
  background-image:      -o-linear-gradient(left, rgba(154, 235, 231, 1), rgba(255, 216, 171, 1));
}
.PT-manu-column:first-child
{
 width: -webkit-calc( 33.33% - 2px );
 border-left: none;
}

.PT-modal-wide .PT-modal-title
{
  padding-left: 212px;
}
.PT-modal-wide .PT-modal-content-wrapper
{
  padding: 0;
}

.PT-modal-wide .PT-menu
{
  height:500px;
  width:100%;
}

/*    GRID VIEW   */

#grid-view-wrapper
{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(194, 217, 214, 1);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(154, 235, 231, 1)), to(rgba(255, 216, 171, 1)));
  background-image: -webkit-linear-gradient(top, rgba(255, 216, 171, 1), rgba(154, 235, 231, 1) ); 
  background-image:    -moz-linear-gradient(top, rgba(255, 216, 171, 1), rgba(154, 235, 231, 1) );
  background-image:     -ms-linear-gradient(top, rgba(255, 216, 171, 1), rgba(154, 235, 231, 1) );
  background-image:      -o-linear-gradient(top, rgba(255, 216, 171, 1), rgba(154, 235, 231, 1) );
}


#grid-view-slider
{
  width: 100%;
  height: 100%;
  overflow: auto;
  width: 1000px;
  margin: 0 auto;
  padding: 0 12px;
}



.grid-view-title
{
  color:white;
  margin-top: 100px;
  padding-left: 211px;
}

.grid-view-title h2
{
  font-size: 19px;
  line-height:1em;
}

.grid-view-title h1
{
  font-size:4em;
  line-height:1em;
}

#grid-view-slider ul
{
  margin: 0;
  list-style: none;
}

#grid-view-slider>ul>li
{
  float: left;
  width: 142px;
  height: 100px;
  background: white;
  margin: 12px;
  background-size:100% 100%;
  background-color:white;
}

#grid-view-slider>ul>li a
{
  text-decoration: none
}

.item-title
{
  display:none;
  overflow:none;
  color:white;
}


#grid-view-slider>ul>li:hover .item-title
{
  display:block;
  overflow:hidden;
  position:relative;
  top:-24px;
  left:-24px;
  height:148px;
  width:190px;
  background-color:white;
}



.item-title h1
{
  font-size: 5.9em;
  line-height: 1em;
}


/*  citations */

#citation-drawer
{
  position: absolute;
  bottom: 0;
  z-index: 100000;
  background: rgba(0, 0, 0, 0.75);
  width:100%;
  color: white;
}
.citation-view
{
  padding:10px 40px;
}

.citation-attribution,
.citation-geo
{
  position: relative;
  bottom: -1em;
  margin-left: 10px;
}

/*  map */

#PT-map,
#PT-map-wrapper
{
  height : 500px;
  width:100%;
}


.leaflet-popup-content-wrapper
{
  height: 110px;
  width: 180px;
}

.leaflet-popup-tip
{

}

.map-popup .heart,
.map-popup .ent
{ opacity: 0.75 ;}

.map-popup .heart:hover,
.map-popup .ent:hover
{ opacity: 1 ;}

.map-popup .heart
{
  position: absolute;
  top: 10px;
  left: 10px;
}
.map-popup .enter
{
  text-align: center;
  position: absolute;
  bottom: 25px;
  left: 70px;
}

.play-pause
{
  margin-right:10px;
}
