<div class='left-column'>
	<h5>About</h5>
	<ul>
		<li><a href='#'>Who We Are</a></l1>
		<li><a href='#'>Blog</a></l1>
		<li><a href='#'>Scavenger Hunt</a></l1>
		<li><a href='#'>Podcasts</a></l1>
	</ul>
	<strong>Contact:</strong>
	<br/>
	<a href="mailto:val@planettakeout.com" target='blank'>val@planettakeout.com</a>
</div>

<div class='right-column'>
	<p>
		Planet Takeout is a participatory documentary project about the Chinese takeout as a vital cultural crossroads in Boston and beyond. The radio and multimedia project aims to turn local Chinese takeouts into spaces for community storytelling and to use the stories as lenses into both the local neighborhood and into global immigration patterns to the city. || We want to hear your story about Chinese takeouts. Is there a takeout you’re a regular at? Do you remember the first time you had Chinese takeout food? Please call our Planet Takeout call-in line and tell us a story: 617.477.8688. It’s free in the Boston area and the recording explains what to do.
	</p>
	<p>
		Produced by Val Wang and brought to you by WGBH 89.7 and Zeega. Planet Takeout is part of a nationwide initiative, Localore, produced by the Association of Independents in Radio with funding from the Corporation for Public Broadcasting.
	</p>

</div>

<div class='sponsor-drawer'></div>