<ul class="modal-tabs-head">
	<li class="active">About the project</li>
	<li>Who We Are</li>
	<li>Podcasts</li>
	<li>中文</li>
	<li>Blog</li>
	<li>Contact</li>
</ul>
<div class="modal-tab">
	<p>one</p>
</div>
<div class="modal-tab" style="display: none;">
	<p>two</p>
</div>
<div class="modal-tab" style="display: none;">
	<p>three</p>
</div>
<div class="modal-tab" style="display: none;">
	<p>four</p>
</div>
<div class="modal-tab" style="display: none;">
	<p>five</p>
</div>
<div class="modal-tab" style="display: none;">
	<p>six</p>
</div>