<ul class="modal-tabs-head">
	<li class="active">About the project</li>
	<li>Who We Are</li>
	<li>Podcasts</li>
	<li>中文</li>
	<li>Blog</li>
	<li>Contact</li>
</ul>
<div class="modal-tabs">
	<div class="modal-tab">
		<div class="left-column">
			<p>In virtually every neighborhood of every city and town in America, there’s a Chinese takeout. You know the places I’m talking about: the tiny holes-in-the-wall with two or three cafeteria-style tables inside, an open kitchen roaring and rattling with woks and fire, a brisk but friendly counterwoman, and garishly colored photographs of Chinese food advertising the wares.</p>
			<p>The takeouts are ubiquitous and seemingly identical. But each is a lens into both the local neighborhood and global immigration patterns. Each sits at the intersection where an immigrant worker meets a person who lives down the street, where the needs of the neighborhood are met by the adaptability of takeout owners, where food is exchanged, money, and perhaps words. Places where communication may be difficult but a sense of community can take root.</p>
			<p>Enter Planet Takeout, a participatory documentary project about the Chinese takeout as a vital cultural crossroads.</p>
			<p>We’ve spent months documenting four takeouts in different Boston neighborhoods. We spent time in a takeout in Dorchester that created a dollar menu to cater to local teens. We met a second-generation takeout owner who coaches a high school football team in Roxbury. We met a tattoo artist in Jamaica Plain who has constructed an elaborate mythology about the workers at his local takeout, which he freely admits to ordering from three times in the same day.</p>
			<p>This is where we need your help. There are 10,000 takeouts in the U.S., which prepare more than 2 million meals every day, and who knows how many around the world.</p>
			<p>I bet you’ve gone to one of these takeouts, eaten a few of those meals. Maybe you’re even a regular at one. So much so that the staff knows your order when they hear your voice, perhaps?</p>
			<p>Or maybe you or your family has experience working in or running a takeout. You’ve gotten to know your regular customers’ quirks and adjusted to the life of a small business owner far from home.</p>
			<p>If we could clone 10,000 versions of ourselves, we could go to your takeout in person – but you’re the one with the story, the one with the relationship across the counter, the one who might know the local characters and the ways the takeout fits into your neighborhood. The one with the memories to share.</p>
			<p>So please help us out!</p>
			<p>We’ve started with four takeouts in Boston, but we need your energy and creativity to expand outwards and to paint a portrait of the rest of the city, the country and the planet, takeout by takeout.</p>
		</div>
		<div class="right-column">
			<h3>Our Partners</h3>
			<div class="info-tab media">
				<span class="carat"></span>
				<div class="content">
					<img src="assets/img/logo_localore.png" alt="Localore" />
					<img src="assets/img/logo_air.png" alt="AIR" />
					<img src="assets/img/logo_wgbh.png" alt="WGBH" />
					<img src="assets/img/logo_zeega.png" alt="Zeega" />
				</div>
			</div>
			<h3>Support By</h3>
			<div class="info-tab media">
				<span class="carat"></span>
				<div class="content">
					<img src="assets/img/logo_cpb.png" alt="CPB" />
					<img src="assets/img/logo_macarthur.png" alt="MacArthur Foundation" />
					<img src="assets/img/logo_wyncote.png" alt="Wyncote Foundation" />
					<img src="assets/img/logo_artworks.png" alt="Art works. arts.gov" />
				</div>
			</div>
		</div>
	</div>
	<div class="modal-tab" style="display: none;">
		<div class="wrap-columns">
			<div class="left-column">
				<h2>Val Wang, Director</h2>
				<p>Val Wang is a writer and multimedia documentarian who is based in Boston but whose heart is still partly in China. Before Planet Takeout, she produced OpenCourt, WBUR’s cutting-edge project to open the court system through digital technology. She has produced documentaries airing on PBS, National Geographic Channel, and The History Channel and worked for Reuters Television, NBC News, and UNICEF in both New York and Beijing. Her memoir of living in China, Beijing Bastard (working title), is forthcoming from Penguin. She is always thinking about her next meal, and usually the one after that too.</p>
				<h4>First time ate Chinese takeout:</h4>
				<p>While sitting on the floor of boyfriend’s new apartment in Brooklyn, surrounded by moving boxes. Tofu and mixed vegetables from King Kong Chinese Restaurant around the corner. Verdict: Inauthentic but delicious.</p>
				<h4>Most memorable fortune:</h4>
				<p>There is no time like the pleasant.</p>
			</div>
			<div class="right-column">
				<img src="assets/img/bio_val.jpg" alt="" />
			</div>
		</div>

		<div class="wrap-columns">
			<div class="left-column">
				<h2>Kelly Creedon, Producer</h2>
				<p>Kelly Creedon is a documentary photographer and multimedia producer based in Boston. Most recently, she is the creator and producer of We Shall Not Be Moved, a multimedia documentary project that tells the story of the growing grassroots anti-foreclosure movement in Massachusetts. Kelly’s work has been featured by the Boston Globe, Boston Magazine, Shelterforce, WBUR, WGBH, and the Bay State Banner, among others. She is a graduate of the Salt Institute for Documentary Studies in Portland, Maine.</p>
				<h4>Favorite takeout for ambience:</h4>
				<p>Yum Yum</p>
				<h4>Most memorable fortune:</h4>
				<p>One of the keys to happiness is a bad memory.</p>
			</div>
			<div class="right-column">
				<img src="assets/img/bio_kelly.jpg" alt="" />
			</div>
		</div>

		<div class="wrap-columns">
			<div class="left-column">
				<h2>Zeega, Interactive Producers</h2>
				<p>Zeega is a non-profit inventing new forms of interactive storytelling. The Zeega team is an expanding mix of media-makers, artists and creative technologists. We create projects across multiple platforms, connect digital media to physical spaces, and develop open-source tools to enable anyone to experiment with the web as a creative medium.</p>
				<h4>Favorite takeout dish:</h4>
				<p>Kung Po Chicken</p>
				<h4>Most memorable fortune:</h4>
				<p>It could be better, but its good enough.</p>
			</div>
			<div class="right-column">
				<img src="assets/img/bio_zeega.gif" alt="" />
			</div>
		</div>

		<div class="wrap-columns">
			<div class="left-column">
				<h2>Golden Arrows, Designers</h2>
				<p>Golden Arrows is a graphic design cooperative comprised of Nerissa Cooney and Alexander Hage. After studying design and fine art at Boston University, they formed Golden Arrows in 2009. Working for people who do audacious and inspired work in their communities, they always consider the logic, function and aesthetic of each project, and take a deeply collaborative approach to all their work. They are members of and helped start a creative cooperative workspace that provides a center for people doing social justice and community positive work. The values of the space and its central location in Boston's South End make it an ideal setting for the micro-grant supper Feast Mass, which Golden Arrows also organizes.</p>
				<h4>Favorite takeout dish:</h4>
				<p>Singapore rice noodles</p>
				<h4>Most memorable fortune:</h4>
				<p>Playing safe is only playing.</p>
			</div>
			<div class="right-column">
				<img src="assets/img/bio_golden_arrows.jpg" alt="" />
			</div>
		</div>

	</h2>
	</div>
	<div class="modal-tab" style="display: none;">
		<p>three</p>
	</div>
	<div class="modal-tab" style="display: none;">
		<p>four</p>
	</div>
	<div class="modal-tab" style="display: none;">
		<p>five</p>
	</div>
	<div class="modal-tab" style="display: none;">
		<p>six</p>
	</div>
</div>