<div id="initialLoadOverlay">
	<div id="initialLoad">
		<div id="catProgress">
			<div id="progressBar"></div>
		</div>
		<div id="loaderSlides">
			<span class="tab"></span>
			<div>
				<h1>Welcome to <strong>Planet Takeout!</strong></h1>
			</div>
			<div style="display: none;">
				<p>Where the Chinese takeout becomes a lens into our local neighborhoods.</p>
			</div>
			<div style="display: none;">
				<p>Explore these community crossroads through stories, photos and videos.</p>
			</div>
			<div style="display: none;">
				<p>Navigate inside takeouts and with our menu, map and collections!</p>
			</div>
		</div>
		<img class="logos" src="assets/img/loader-logos.png" width="481" height="41" alt="WGBH, AIR, Localore, Zeega">
	</div>
</div>

