<div class='PT-menu-column'>
	<h2>小吃 Tidbits</h2>
	<ul class="menu-items">
		<li>
			<a href="#">Lucky Animal</a>
			<span>121</span>
		</li>
		<li>
			<a href="#">Gumball Machine</a>
			<span>118</span>
		</li>
		<li>
			<a href="#">Exterior</a>
			<span>89</span>
		</li>
		<li>
			<a href="#">Fortune</a>
			<span>89</span>
		</li>
		<li>
			<a href="#">Neon</a>
			<span>72</span>
		</li>
	</ul>
	<img class="flourish" src='assets/img/menu_platter.png' width='77px'/>
	<h3>All Tidbits</h3>
	<ul class="menu-items">
		<li>
			<a href="#">Delivery</a>
			<span>55</span>
		</li>
		<li>
			<a href="#">Snow</a>
			<span>47</span>
		</li>
		<li>
			<a href="#">Plows</a>
			<span>43</span>
		</li>
		<li>
			<a href="#">Summershack</a>
			<span>43</span>
		</li>
		<li>
			<a href="#">Snow</a>
			<span>47</span>
		</li>
		<li>
			<a href="#">Plows</a>
			<span>43</span>
		</li>
		<li>
			<a href="#">Summershack</a>
			<span>43</span>
		</li>
		<li>
			<a href="#">This</a>
			<span>47</span>
		</li>
		<li>
			<a href="#">That</a>
			<span>47</span>
		</li>
	</ul>
	<img class="flourish" src='assets/img/menu_rose.png'  width='75px'/>
	<ul class="menu-items">
		<li>
			<a href="#">Uncle</a>
			<span>7</span>
		</li>
	</ul>
</div>

<div class='PT-menu-column'>
	<h2>故事 Stories</h2>
	<h3>Running a Takeout</h3>
	<ul class="menu-items">
		<li>
			<a href="#">Getting Access</a>
			<span>6:32</span>
		</li>
		<li>
			<a href="#">Restaurant English</a>
			<span>4:32</span>
		</li>
		<li>
			<a href="#">A Day In The Life</a>
			<span>7:57</span>
		</li>
		<li>
			<a href="#">Learning Restaurant English</a>
			<span>2:21</span>
		</li>
		<li>
			<a href="#">Robbed at Gunpoint</a>
			<span>5:17</span>
		</li>
		<li>
			<a href="#">Making Crab Rangoon</a>
			<span>4:22</span>
		</li>
		<li>
			<a href="#">The Broken Window</a>
			<span>3:13</span>
		</li>
	</ul>
	<h3>Regulars</h3>
	<ul class="menu-items">
		<li>
			<a href="#">Regulars</a>
			<span>5:19</span>
		</li>
		<li>
			<a href="#">Food Wall Fanatics</a>
			<span>4:50</span>
		</li>
		<li>
			<a href="#">Barflys</a>
			<span>3:57</span>
		</li>
		<li>
			<a href="#">Teenagers</a>
			<span>6:19</span>
		</li>
		<li>
			<a href="#">Homeless Men</a>
			<span>7:20</span>
		</li>
		<li>
			<a href="#">A Favorite Deliveryman</a>
			<span>5:15</span>
		</li>
	</ul>
	<img class="flourish" src='assets/img/menu_flourish.png' width="237px" />
	<h3>Neighbors</h3>
	<ul class="menu-items">
		<li>
			<a href="#">Starting a Takeout</a>
			<span>5:15</span>
		</li>
		<li>
			<a href="#">Neighborhood Relations</a>
			<span>5:15</span>
		</li>
		<li>
			<a href="#">Giving Back</a>
			<span>5:15</span>
		</li>
		<li>
			<a href="#">What is Jamaica Plain</a>
			<span>5:15</span>
		</li>
		<li>
			<a href="#">Who is Alan</a>
			<span>5:15</span>
		</li>
		<li>
			<a href="#">Takeouts En Español</a>
			<span>5:15</span>
		</li>
	</ul>
	<h3>Generations</h3>
	<ul class="menu-items">
		<li>
			<a href="#">Generations</a>
			<span>4:23</span>
		</li>
	</ul>
</div>

<div class='PT-menu-column'>
	<h2>外卖 Takeouts</h2>
	<ul class="menu-items specials">
		<li>
			<a href="#">Delivery</a>
			<span>55</span>
		</li>
		<li>
			<a href="#">Snow</a>
			<span>47</span>
		</li>
		<li>
			<a href="#">Plows</a>
			<span>43</span>
		</li>
		<li>
			<a href="#">Summershack</a>
			<span>43</span>
		</li>
	</ul>
	<img class="flourish" src='assets/img/menu_chef.png' width='77px'/>
	<h3>By Neighborhood</h3>
	<ul class="menu-items">
		<li>
			<a href="#">Allston/Brighton</a>
			<span>12</span>
		</li>
		<li>
			<a href="#">Back Bay/Fenway</a>
			<span>7</span>
		</li>
		<li>
			<a href="#">Chinatown</a>
			<span>4</span>
		</li>
		<li>
			<a href="#">Fields Corner</a>
			<span>8</span>
		</li>
		<li>
			<a href="#">Hyde Park</a>
			<span>13</span>
		</li>
		<li>
			<a href="#">Beacon Hill</a>
			<span>3</span>
		</li>
		<li>
			<a href="#">Brookline</a>
			<span>9</span>
		</li>
	</ul>
	<img class="flourish" src='assets/img/menu_junk.png' width='77px'/>
	<ul class="menu-items">
		<li>
			<a href="#">Cambridge</a>
			<span>11</span>
		</li>
		<li>
			<a href="#">Charlestown</a>
			<span>20</span>
		</li>
		<li>
			<a href="#">Dorchester</a>
			<span>31</span>
		</li>
		<li>
			<a href="#">Jamaica Plain</a>
			<span>8</span>
		</li>
	</ul>
</div>
