<div class='PT-menu-column'>
	<h2>小吃 Tidbits</h2>
	<ul id="feature-tidbits" class="menu-items"></ul>
	<img class="flourish" src='assets/img/menu_platter.png' width='77px'/>
	<h3>All Tidbits</h3>
	<ul id="all-tidbits-one" class="menu-items"></ul>
	<img class="flourish" src='assets/img/menu_rose.png'  width='75px'/>
	<ul id="all-tidbits-two" class="menu-items"></ul>
</div>

<div class='PT-menu-column'>
	<h2>故事 Stories</h2>
	<h3>Running a Takeout</h3>
	<ul class="menu-items">
		
		<!--
		<li>
			<a href="/collections/46156/view/{id}">A Day in the life</a>
			<span>6:32</span>
		</li>
		-->
		
		<li>
			<a href="/collections/46156/view/45516">My Harder Customers</a>
			<span>4:32</span>
		</li>
		<li>
			<a href="/collections/46156/view/45544">Gunpoint, Knifepoint, Everything</a>
			<span>7:57</span>
		</li>
		<li>
			<a href="/collections/46156/view/45537">The Broken Window</a>
			<span>2:21</span>
		</li>
		<li>
			<a href="/collections/46156/view/45539">Duck Sauce Wars</a>
			<span>5:17</span>
		</li>
		<li>
			<a href="/collections/46156/view/45535">The Making of Crab Rangoon</a>
			<span>3:13</span>
		</li>
		<li>
			<a href="/collections/46156/view/45540">The Making of Pork Fried Rice</a>
			<span>3:13</span>
		</li>
		<li>
			<a href="/collections/46156/view/45512">Shrimp Stinks</a>
			<span>3:13</span>
		</li>
	</ul>
	<h3>Regulars</h3>
	<ul class="menu-items">
		<li>
			<a href="/collections/46157/view/{id}">Regulars</a>
			<span>5:19</span>
		</li>
		<!--
		<li>
			<a href="/collections/46157/view/{id}">Food Wall Fanatics</a>
			<span>4:50</span>
		</li>
		-->
		
		<li>
			<a href="/collections/46157/view/45530">I Come Here Because I'm Homeless</a>
			<span>3:57</span>
		</li>
		<li>
			<a href="/collections/46157/view/45536">The Dollar Plate</a>
			<span>6:19</span>
		</li>
		<li>
			<a href="/collections/46157/view/45538">There's Hair in My Food</a>
			<span>7:20</span>
		</li>
		<li>
			<a href="/collections/46157/view/45533">Late Night on Centre Street</a>
			<span>5:15</span>
		</li>
		<li>
			<a href="/collections/46157/view/45534">Food Wall to the Rescue</a>
			<span>5:15</span>
		</li>
		<li>
			<a href="/collections/46157/view/45515">I Like. Chinese. Food!</a>
			<span>5:15</span>
		</li>
	</ul>
	<img class="flourish" src='assets/img/menu_flourish.png' width="237px" />
	<h3>Neighbors</h3>
	<ul class="menu-items">
		<!--
		<li>
			<a href="/collections/46158/view/{id}">A Recipe for Change</a>
			<span>5:15</span>
		</li>
		-->
		<!--  COMING SOON
		<li>
			<a href="/collections/46158/view/{id}">Conflicts at the Crossroads</a>
			<span>5:15</span>
		</li>
		-->
		<li>
			<a href="/collections/46158/view/45513">Forty-Three Years in Roxbury</a>
			<span>5:15</span>
		</li>
		<li>
			<a href="/collections/46158/view/45529">Curry Chips</a>
			<span>5:15</span>
		</li>
		<li>
			<a href="/collections/46158/view/45514">Football is an Oxymoron</a>
			<span>5:15</span>
		</li>
		<li>
			<a href="/collections/46158/view/45541">Takeouts en espanol: Kitchen side</a>
			<span>5:15</span>
		</li>
		<!--
		<li>
			<a href="/collections/46158/view/{id}">Takeouts en espanol: Dining side</a>
			<span>5:15</span>
		</li>
		-->
			<li>
			<a href="/collections/46158/view/45518">A Favorite Deliveryman</a>
			<span>5:15</span>
		</li>
	</ul>
	<h3>Generations</h3>
	<ul class="menu-items">
			<!--  COMING SOON
		<li>
			<a href="/collections/46159/view/{id}">Takeout: Legacy or Steppingstone? </a>
			<span>4:23</span>
		</li>
		  -->
		<li>
			<a href="/collections/46159/view/45520">A Disconnect Between Two People</a>
			<span>4:23</span>
		</li>
		<li>
			<a href="/collections/46159/view/45522">Sonny and Peter</a>
			<span>4:23</span>
		</li>
		<!-- 
		<li>
			<a href="/collections/46159/view/{id}">Who's Who at Hong Kong Chef</a>
			<span>4:23</span>
		</li>
		<li>
			<a href="/collections/46159/view/{id}">Who is Alan?</a>
			<span>4:23</span>
		</li>
		 -->
	</ul>
</div>

<div class='PT-menu-column'>
	<h2>外卖 Takeouts</h2>
	<ul id="house-special" class="menu-items specials"></ul>
	<img class="flourish" src='assets/img/menu_chef.png' width='77px'/>
	<h3>By Neighborhood</h3>
	<ul id="neighborhood-one" class="menu-items"></ul>
	<img class="flourish" src='assets/img/menu_junk.png' width='77px'/>
	<ul id="neighborhood-two" class="menu-items"></ul>
</div>
