<div class='PT-menu-column'>
	<h2>小吃 Tidbits</h2>
	<ul id="feature-tidbits" class="menu-items"></ul>
	<img class="flourish" src='assets/img/menu_platter.png' width='77px'/>
	<h3>All Tidbits</h3>
	<ul id="all-tidbits-one" class="menu-items"></ul>
	<img class="flourish" src='assets/img/menu_rose.png'  width='75px'/>
	<ul id="all-tidbits-two" class="menu-items"></ul>
</div>

<div class='PT-menu-column'>
	<h2>故事 Stories</h2>
	<h3>Running a Takeout</h3>
	<ul id="running" class="menu-items"></ul>
	<h3>Regulars</h3>
	<ul id="regulars" class="menu-items"></ul>
	<img class="flourish" src='assets/img/menu_flourish.png' width="237px" />
	<h3>Neighbors</h3>
	<ul id="hoods" class="menu-items"></ul>
	<h3>Generations</h3>
	<ul id="generations" class="menu-items"></ul>
</div>

<div class='PT-menu-column'>
	<h2>外卖 Takeouts</h2>
	<ul id="house-special" class="menu-items specials"></ul>
	<img class="flourish" src='assets/img/menu_chef.png' width='77px'/>
	<h3>By Neighborhood</h3>
	<ul id="neighborhood-one" class="menu-items"></ul>
	<img class="flourish" src='assets/img/menu_junk.png' width='77px'/>
	<ul id="neighborhood-two" class="menu-items"></ul>
</div>
