

<div id='app-base'>
	
	<div id='grid-view-wrapper' style="background-color:#FFD8AB">
	
		<div style="width:100%;">
			<div id="logo" style="float:left; width:20%; padding:10%;">
				<img class='pt-logo' src="assets/img/pt_logo-white.png"/>
			</div>
			<div style="float:left;">
				<h2 style="font-size:24px; line-height:24px; color:grey; padding-left:10%; padding-right:10%;">Planet Takeout is a participatory documentary project about the 
				Chinese takeout as a vital cultural crossroads in Boston and beyond.</h2>
			</div>
		</div>	
		<div class="clear-fix"></div>
		
		
		
			<div>
				<h1 style="font-size:48px; color:white; line-height:48px; padding-top:10%; padding-right:10%;">
				Please visit us on a  computer to enjoy 
				the full immersive experience!
				</h1>
			</div>
			

		
		

	</div>
</div>