

<div id='app-base'>
	
	<div id='grid-view-wrapper' style="background-color:#FFD8AB">
	
		
			<div id="logo" style="padding:10%;">
				<img class='pt-logo' src="assets/img/pt_logo-white.png"/>
			</div>
			<div>
				<h3 style="font-size:24px; line-height:24px; color:grey; padding-left:10%; padding-right:10%;">Planet Takeout is a participatory documentary project about the  Chinese takeout as a vital cultural crossroads in Boston and beyond.</h2>
				<br>
				<h3 style="font-size:24px; line-height:24px; color:red; padding-left:10%; padding-right:10%;">Please visit us on a  computer to enjoy 
				the full immersive experience!</h2>
			</div>
			

			

		
		

	</div>
</div>