<li><a href="/"><div class='pt-logo home'></div></a></li>
<li style='margin-left:117px'><a href="collections"><div class='pt-logo collections'></div></a></li>
<li><a href="map"><div class='pt-logo map'></div></a></li>
<li><a href="participate"><div class='pt-logo participate'></div></a></li>
<li><a href="menu"><div class='pt-logo menu'></div></a></li>
<li><a href="about"><div class='pt-logo about'></div></a></li>
<!--<li><a href="search"><img class='nav-icon' src="assets/img/icon_search.png"/></a></li>-->