<li><a href="about"><img class='pt-logo' src="assets/img/pt_logo-white.png"/></a></li>
<li><a href="collections"><img class='nav-icon' src="assets/img/icon_grid.png"/></a></li>
<li><a href="map"><img class='nav-icon' src="assets/img/icon_map.png"/></a></li>
<li><a href="participate"><img class='nav-icon' src="assets/img/icon_comment.png"/></a></li>
<li><a href="menu"><img class='nav-icon' src="assets/img/icon_menu.png"/></a></li>
<li><a href="search"><img class='nav-icon' src="assets/img/icon_search.png"/></a></li>